@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
  --font-pixel: "Jersey 10", mono;
  --font-code: "Fira Code", mono;
}

@theme inline {
  --color-light: var(--color-zinc-50);
  --color-dark: var(--color-zinc-950);
}

@layer components {
  body {
    @apply
      min-h-screen
      bg-light
      text-dark
      dark:bg-dark
      dark:text-light
      font-code;
  }

  input, select, textarea, button {
    @apply
      bg-inherit
      border-inherit
      outline-none /* outline behaves inconsistently across different browser engines */
      ring-inherit /* use ring instead, applied in the @variant focus definition below */
      text-inherit
      caret-inherit;

    /* Blink (Chromium) allows for option to be styled but does not support inherit */
    > option {
      @apply bg-light dark:bg-dark;
    }

    /* Blink (Chromium) Alternative Solution */
    /*
      Preserved for a hint towards targeting specific browsers
      NOTE: I am not confident that targeting -webkit-appearance is the correct solution; check alternatives
    */
    /*
    @supports (-webkit-appearance: none) {
      option {
        @apply bg-light dark:bg-dark;
      }
    }
    */
 
    @variant focus {
      &:not([type="checkbox"]) {
        @apply ring-2;
      }
      &[type="checkbox"] {
        /* Bizarrely, if and ONLY IF any ring value is set (including ring-0),
         * the checkbox input appears to have its own ring on focus anyway,
         * which our value only adds to. Hence... we must set it to zero,
         * but it does appear to show in all browser engines with this setting. */
        /* TODO: Investigate whether the same is true of radio inputs */
        @apply ring-0;
      }
    }
  }

  .prose {
    h1, h2, h3, h4, h5, h6 {
      @apply font-pixel;
    }
  }
}
