@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-pixel: "Jersey 10", mono;
  --font-code: "Fira Code", mono;
}

@theme inline {
  --color-light: var(--color-zinc-50);
  --color-dark: var(--color-zinc-950);
}

@layer components {
  body {
    @apply
      min-h-screen
      bg-light
      text-dark
      dark:bg-dark
      dark:text-light
      font-code;
  }

  input, select, textarea, button {
    @apply
      bg-inherit
      border-inherit
      outline-none /* outline behaves inconsistently across different browser engines */
      ring-inherit /* use ring instead, applied in the @variant focus definition below */
      ring-offset-0 /* checkbox and radio are given a #fff ring-offset by default; we remove that here */
      text-inherit
      caret-inherit;

    /* Blink (Chromium) allows for option to be styled but does not support inherit */
    > option {
      @apply bg-light dark:bg-dark;
    }

    /* Blink (Chromium) Alternative Solution */
    /*
      Preserved for a hint towards targeting specific browsers
      NOTE: I am not confident that targeting -webkit-appearance is the correct solution; check alternatives
    */
    /*
    @supports (-webkit-appearance: none) {
      option {
        @apply bg-light dark:bg-dark;
      }
    }
    */
 
    @variant focus {
      @apply ring-2;
    }
  }

  .prose {
    h1, h2, h3, h4, h5, h6 {
      @apply font-pixel;
    }
  }
}

@layer utilities {
  .prose {
    :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      /* Catppuccin Latte Base for light mode and Catppuccin Mocha Crust for dark */
      /* NOTE: Syntax highlighting is configured in ../../../nuxt.config.ts */
      @apply bg-[#eff1f5] dark:bg-[#11111b];
    }
  }
}
